#__next {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#react-qrcode-logo {
  margin: 0 auto 25px auto;
}

#joinModalText {
  width: 440px;
}

#description {
  min-height: 100px;
  /* padding-top: 0;
  padding-left: 0; */
}

#loginModal {
  font-size: 40px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

#joinButton {
  margin-bottom: 16px !important;
}

#walletButton {
  height: 40px;
  min-width: 90px;
  margin-right: 5%;
  margin-top: 20px;
}

#topDiv {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

#modalWindow {
  background-color: rgba(105,105,105, 0.75);
  margin: 5% auto;
  padding:20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 25px;
}

#joinCommunityButton {
  margin-top: 250px;
}

#qrBackground {
  display: inline-block;
  background-color: #E9F2D5;
  min-width: 440px;
}

#loader {
	--color: black;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
  z-index: 10000;
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}

#loader::before,
#loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}


/**
	loader --2
**/
#loader::before,
#loader::after {
	width: 12px;
	height: 12px;
	background-color: var(--color);
	border-radius: 50%;
	opacity: 0;
	animation: loader 0.8s cubic-bezier(0.2, 0.32, 0, 0.87) infinite;
}

#loader::after {
	animation-delay: 0.3s;
}

@keyframes loader {
	0%, 80%, 100% {
		opacity: 0;
	}
	
	33% {
		opacity: 1;
	}
	
	0%, 100% {
		transform: translateX(-4vmin);
	}
	
	90% {
		transform: translateX(4vmin);
	}
}


/* .container {
	display: grid;
	grid-template-columns: repeat(3, 18vmin);
	grid-template-rows: repeat(3, 18vmin);
	grid-gap: 1vmin;
} */

#item	{
  z-index: 10000;
	display: flex;
	place-items: center;
	border-radius: 4px;
  transition: opacity 0.4s ease;
  position: absolute;
  left: 40px;
  bottom: 10px;
}

#item h2 {
  margin-right: 45px;
  font-size: 30px;
}

#disabled {
  cursor: auto !important;
  background-color: grey !important;
  color: black;
  border: 2px solid #BD413B !important;
}

#disabled:hover, #disabled:active {
  background-color: grey !important;
  color: black !important;
  /* box-shadow: 0.6px 0.6px #080808; */
}