#__next {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#react-qrcode-logo {
  margin: 0 auto 25px auto;
}

#joinModalText {
  width: 440px;
}

#description {
  min-height: 250px;
}

#loginModal {
  font-size: 40px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

#joinButton {
  margin-bottom: 16px !important;
}

#walletButton {
  height: 40px;
  min-width: 90px;
  margin-right: 5%;
  margin-top: 20px;
}